
<section id="registrationPage">
  <h4 class="text-center">{{ title }}</h4>
  <hr>
  <!-- action="" is useless here, the post action works fine in RestApiService.post -->
  <div class="col-md-4 col-md-offset-4">
      <form action="">

          <div class="form-group">
            <label class="form-control-label">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="name">
          </div>
      
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="email">
          </div>
      
          <div class="form-group">
            <label class="form-control-label">Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password">
          </div>
      
          <div class="form-group">
            <label class="form-control-label">Confirm Password</label>
            <input type="password" name="password1" class="form-control" [(ngModel)]="password1">
          </div>
          
          <hr>
          <button type="button" class="btn btn-primary btn-block" (click)="register()" [disabled]="btnDisabled">Register</button>
      
        </form>
  </div>
</section>
