
<section id="signinPage">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="text-center">{{title}}</h4>
      <hr>
          <!-- action="" is useless here, the post action works fine in RestApiService.post -->
          <form action="">

            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="email">
            </div>

            <div class="form-group">
              <label>Passowrd</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="password">
            </div>

            <hr>
            <button type="button" class="btn btn-primary btn-block" (click)="login()" [disabled]="btnDisabled">Login</button>

          </form>

    </div>
  </div>
</section>


