<section id="settings">
  <div class="container p-5">
    <h4 class="display-4">My Account Settings</h4>
    <hr>
    <!-- <app-message></app-message> -->
    <div class="m-auto" *ngIf=" ! currentSettings">
      <h1 class="text-center dsiplay-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>

    <div class="card bg-light" *ngIf="currentSettings">
      <div class="card-body">
        <!-- there's no { action="/xxx", method="POST" } here -->
        <form>
          <div class="form-group">
            <label for="" class="form-control-label">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="currentSettings.name">
          </div>

          <div class="form-group">
            <label for="" class="form-control-label">Email</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="currentSettings.email">
          </div>

          <div class="form-check">
            <label for="" class="form-check-label">
              <input type="checkbox" name="isSeller" class="form-check-input" [(ngModel)]="currentSettings.isSeller">Is Seller
            </label>
          </div>

          <div class="form-group">
            <label for="" class="form-control-label">New Password</label>
            <input type="password" name="newPwd" class="form-control"[(ngModel)]="currentSettings.newPwd"> 
          </div>

          <div class="form-group">
            <label for="" class="form-control-label">New Password</label>
            <input type="password" name="pwdConfirm" class="form-control"[(ngModel)]="currentSettings.pwdConfirm"> 
          </div>

          <!-- the most important step => update() => submit -->
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="btnDisabled">Update</button>

        </form>
      </div>
    </div>

  </div>
</section>
